<h1>Daft chat</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user.name %><%= message.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form' %>
